// :root {
//   --main-text-color: #212121;
//   --second-text-color: #757575;
//   --third-text-color: #2196f3;
//   --fort-text-color: rgba(255, 255, 255, 0.6);
//   --main-btn-color: #2196f3;
//   --heder-text-color: #ffffff;
//   --one-letter-spacing: 0.02em;
//   --second-letter-spacing: 0.03em;
//   --third-letter-spacing: 0.06em;
// }

//===== Переменные =========//

$main-text-color: #212121;
$text-color-2: #757575;
$text-color-3: #2196f3;
$text-color-4: rgba(255, 255, 255, 0.6);
$text-color-5: #ffffff;

$btn-bg1: #2196f3;
$btn-bg2: #757575;
$btn-text: #ffffff;

$heroy-text-color: #ffffff;

$bg-color-1: #2196f3;
$bg-color-2: #757575;
$bg-color-3: #f5f4fa;
$bg-color-4: #ffffff;
$bg-color-5: #2f303a;

$text-logo-1: #000000;
$text-logo-2: #2196f3;
$text-logo-3: #ffffff;

$letter-spacing-02: 0.02em;
$letter-spacing-03: 0.03em;
$letter-spacing-06: 0.06em;
